<html>
 <head>
 	<title>Поступление 2022</title>
 </head>
 <body bgcolor="#FFFFFF" background="C:\Users\Nsa\Desktop\FlaskApp\templates\back.jpg">
	<h1 style="text-align: center;">Сайт помощник для тех, кто оканчивает 11 класс.</h1>
<table style="border-collapse: collapse; width: 90.4148%; height: 557px; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 34.4697%; height: 18px; text-align: center;">Предмет:</td>
<td style="width: 32.1969%; height: 18px; text-align: center;">Дата:</td>
<td style="width: 35.2621%; height: 18px; text-align: center;">Резервные дни:</td>
</tr>
<tr style="height: 10px;">
<td style="width: 34.4697%; height: 10px; text-align: center;">География, Литература, Химия</td>
<td style="width: 32.1969%; height: 10px; text-align: center;">26 мая (четверг)</td>
<td style="width: 35.2621%; height: 10px; text-align: center;">
<p>Для Географии и Литературы:24 июня (пятница)</p>
<p>Для Химии:</p>
<p>29 июня (среда)</p>
</td>
</tr>
<tr style="height: 62px;">
<td style="width: 34.4697%; height: 62px; text-align: center;">Русский язык</td>
<td style="width: 32.1969%; height: 62px; text-align: center;">
<p>30 мая (понедельник)</p>
<p>31 мая (вторник)</p>
</td>
<td style="width: 35.2621%; height: 62px; text-align: center;">23 июня (четверг)</td>
</tr>
<tr style="height: 34px;">
<td style="width: 34.4697%; height: 34px; text-align: center;">ЕГЭ по математике профильного уровня</td>
<td style="width: 32.1969%; height: 34px; text-align: center;">2 июня (четверг)<br /><br /></td>
<td style="width: 35.2621%; height: 34px; text-align: center;">27 июня (понедельник)<br /><br /></td>
</tr>
<tr style="height: 25px;">
<td style="width: 34.4697%; height: 25px; text-align: center;">ЕГЭ по математике базового уровня</td>
<td style="width: 32.1969%; height: 25px; text-align: center;">3 июня (пятница)</td>
<td style="width: 35.2621%; height: 25px; text-align: center;">27 июня (понедельник)</td>
</tr>
<tr style="height: 31px;">
<td style="width: 34.4697%; height: 31px; text-align: center;">История, Физика</td>
<td style="width: 32.1969%; height: 31px; text-align: center;">6 июня (понедельник)</td>
<td style="width: 35.2621%; height: 31px; text-align: center;">30 июня (четверг)</td>
</tr>
<tr style="height: 36px;">
<td style="width: 34.4697%; height: 36px; text-align: center;">Обществознание</td>
<td style="width: 32.1969%; height: 36px; text-align: center;">9 июня (четверг)</td>
<td style="width: 35.2621%; height: 36px; text-align: center;">29 июня (среда)</td>
</tr>
<tr style="height: 28px;">
<td style="width: 34.4697%; height: 28px; text-align: center;">Иностранные языки (за исключением раздела &laquo;Говорение&raquo;), биология</td>
<td style="width: 32.1969%; height: 28px; text-align: center;">14 июня (вторник)</td>
<td style="width: 35.2621%; height: 28px; text-align: center;">28 июня (вторник)</td>
</tr>
<tr style="height: 17px;">
<td style="width: 34.4697%; height: 17px; text-align: center;">Иностранные языки (раздел &laquo;Говорение&raquo;)</td>
<td style="width: 32.1969%; height: 17px; text-align: center;">
<p>16 июня (четверг)</p>
<p>17 июня (пятница)</p>
</td>
<td style="width: 35.2621%; height: 17px; text-align: center;">24 июня (пятница)</td>
</tr>
<tr style="height: 18px;">
<td style="width: 34.4697%; height: 18px; text-align: center;">Информатика</td>
<td style="width: 32.1969%; height: 18px; text-align: center;">
<p>20 июня (понедельник)</p>
<p>21 июня (вторник)</p>
</td>
<td style="width: 35.2621%; height: 18px; text-align: center;">28 июня (вторник)</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">2 июля (суббота) является резервным днем для всех предметов.</p>
 </body>
</html>