<html>
 <head>
 	<title>Вузы</title>
 </head>
 <body bgcolor="#FFFFFF" background="C:\Users\Nsa\Desktop\FlaskApp\templates\back.jpg">
	<h1 style="text-align: center;">Список вузов для поступления</h1>
<table style="border-collapse: collapse; width: 90.4148%; height: 557px; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 34.4697%; height: 18px; text-align: center;">Название вуза:</td>
<td style="width: 32.1969%; height: 18px; text-align: center;">Описание вуза:</td>
<td style="width: 35.2621%; height: 18px; text-align: center;">Цена платного обучения(в год):</td>
</tr>
<tr style="height: 10px;">
<td style="width: 34.4697%; height: 10px; text-align: center;">ITMO(ИТМО)</td>
<td style="width: 32.1969%; height: 10px; text-align: center;">Один из лучших университетов в России.
<p>Входит в сотню лучших вузов мира в области компьютерных наук по версии предметного рейтинга Times Higher Education.
<P>В числе приоритетных направлений — информационные технологии, фотоника, робототехника, квантовые коммуникации, химия, биотехнологии.</td>
<td style="width: 35.2621%; height: 10px; text-align: center;">
<p>220 000 - 250 000 руб</p>
<p></p>
<p></p>
</td>
</tr>
<tr style="height: 62px;">
<td style="width: 34.4697%; height: 62px; text-align: center;">Политех
<p>политехнический университет Петра Великого</td>
<td style="width: 32.1969%; height: 62px; text-align: center;">
<p>Входит в пятёрку лучших технических вузов страны</p>
<p>включает в себя 11 Факультетов:
<p> гуманитарный факультет, инженерно-строительный факультет, 
факультет биомедицинских систем и биотехнологий, факультет кибербезопасности и защиты информации, 
факультет компьютерных наук и технологий, и др.</p>
</td>
<td style="width: 35.2621%; height: 62px; text-align: center;">Форма обучения:
<p>Очная: 90 000 - 110 000 руб
<p>Очно-заочная или заочная: 40 000 - 65 000 руб</td>
</tr>
<tr style="height: 34px;">
<td style="width: 34.4697%; height: 34px; text-align: center;">СПбГУ
<p>Санкт-Петербургский государственный университет</td>
<td style="width: 32.1969%; height: 34px; text-align: center;">Один из старейших, крупнейших и ведущих классических университетов.
<p>В состав университетского учебно-научного комплекса входит: 27 специальных факультетов и институтов, а также общеуниверситетская кафедра физической культуры и спорта, медицинский колледж,
 колледж физической культуры и спорта, экономики и технологии, Академическая гимназия имени Д. К. Фаддеева СПбГУ.<br /><br /></td>
<td style="width: 35.2621%; height: 34px; text-align: center;">200 000 - 300 000 руб
<p>Цена на некоторые факультеты(например: Востоковедение и африканистика) может доходить до 370 000 руб <br /><br /></td>
</tr>
<tr style="height: 25px;">
<td style="width: 34.4697%; height: 25px; text-align: center;">САФУ
<p>Северный (Арктический) федеральный университет</td>
<td style="width: 32.1969%; height: 25px; text-align: center;">Крупнейший научно-образовательный центр на северо-западе России.
<p>В структуре университета 7 высших школ и 2 института:
Высшая школа информационных технологий и автоматизированных систем, 
Высшая инженерная школа, 
Высшая школа энергетики, нефти и газа, 
Высшая школа естественных наук и технологий, 
Высшая школа психологии, педагогики и физической культуры, 
Высшая школа социально-гуманитарных наук и международной коммуникации, 
Высшая школа экономики, управления и права, 
Гуманитарный институт (расположен в Северодвинске), 
Институт судостроения и морской арктической техники (бывший Севмашвтуз, расположен в Северодвинске).</td>
<td style="width: 35.2621%; height: 25px; text-align: center;">Форма обучения:
<p>Очная: 165 000 - 250 000 руб
<p>Очно-заочная или заочная: 60 000 - 100 000 руб</td>
</tr>
<tr style="height: 31px;">
<td style="width: 34.4697%; height: 31px; text-align: center;">ПСПбГМУ
<p>Первый Санкт-Петербургский
государственный медицинский
университет им. акад. И.П. Павлова</td>
<td style="width: 32.1969%; height: 31px; text-align: center;">один из ведущих российских медицинских и научных центров.
<p>Направления: лечебное дело, стоматология, клиническая психология, спортивная медицина, педиатрия, адаптивная физическая культура, сестринское дело.
 Также проводится обучение в интернатуре, ординатуре, аспирантуре и докторантуре.</td>
<td style="width: 35.2621%; height: 31px; text-align: center;">Сестринское дело (Очная форма) - 211 900 руб
<p>Физическая культура для лиц с отклонениями в состоянии здоровья (Заочная форма) - 46 550 руб</td>
</tr>
 </body>
</html>